.GamePage {
  display: flex;
  flex-flow: column nowrap;
}

.GamePage-game {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
 
}

.GamePage-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 20px;
  text-align: center;
}

.GamePage-nav {
  width: 115px;
}

#modal-button {
  width: 100px;
  background-color: black;
  color: white;
  border-color: black;
  
}

footer {
  color: blue;
  text-align: center;
}


